<div>
    <h1 class="display-4 text-center mt-2">Registration</h1>
    <hr>
    <form novalidate [formGroup]="service.formRegisterDataReactive" (submit)="registerUser()">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-link" [class.green-icon]="validateProperty('login')" 
                        [class.red-icon]="!validateProperty('login') 
                            && touchedOrDirty('login')"></i>
                    </div>
                </div>
                <input type="text" class="form-control" formControlName="login" placeholder="login"
                    (blur)="validateErrors()" required>
            </div>
            <div class="alert alert-danger mt-2" *ngIf="formsErrors.login">
                {{ formsErrors.login }}
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-hashtag" [class.green-icon]="validateProperty('password')" 
                        [class.red-icon]="!validateProperty('password') 
                            && touchedOrDirty('password')"></i>
                    </div>
                </div>
                <input type="password" formControlName="password" class="form-control" placeholder="password"
                    (blur)="validateErrors()" required>
            </div>
            <div class="alert alert-danger mt-2" *ngIf="formsErrors.password">
                {{ formsErrors.password }}
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-hashtag" [class.green-icon]="validateProperty('confirmPassword')"
                            [class.red-icon]="!validateProperty('confirmPassword') 
                            && touchedOrDirty('confirmPassword')"></i>
                    </div>
                </div>

                <input type="password" formControlName="confirmPassword" class="form-control"
                    placeholder="Repeat Password" (blur)="validateErrors()" required>
            </div>
            <div class="alert alert-danger mt-2" *ngIf="formsErrors.confirmPassword">
                {{ formsErrors.confirmPassword }}
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit"
                [disabled]="!service.formRegisterDataReactive.valid || showLoading">
                Submit
                <span class="ml-2" *ngIf="showLoading">
                    <div class="spinner-border text-light" style="width: 25px; height: 25px;"></div>
                </span>
            </button>
        </div>

    </form>
</div>