<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">

        <ul class="navbar-nav">
            <a [routerLink]="['/']" class="navbar-brand">Home</a>
            <li class="nav-item">
                <a [routerLink]="['/xpath']" class="nav-link pointer">Use XPath</a>
            </li>
        </ul>


        <div class="float-right">
            <ul class="navbar-nav" [hidden]="isAuth">
                <li class="nav-item">
                    <a [routerLink]="['user/login']" class="nav-link pointer">Login</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['user/registration']" class="nav-link pointer">Register</a>
                </li>
            </ul>
            <ul class="navbar-nav" [hidden]="!isAuth">
                <li class="nav-item">
                    <a class="nav-link pointer">
                        Hello, {{ name }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pointer" (click)='onLogout()'>Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <router-outlet></router-outlet>
</div>