<div>
    <h1 class="display-4 text-center mt-2">Log in</h1>
    <hr>
    <form novalidate [formGroup]="service.formLogindDataReactive" (submit)="loginUser()">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-link"></i>
                    </div>
                </div>
                <input type="text" class="form-control" formControlName="Login" placeholder="Login" required>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-hashtag"></i>
                    </div>
                </div>

                <input type="password" class="form-control" formControlName="Password" placeholder="Password" required>
            </div>
        </div>

        <div class="form-group form-check">
            <label class="form-check-label ml-3">
                <input type="checkbox" formControlName="RememberMe" class="form-check-input">Remember Me
            </label>
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit" 
            [disabled]="!service.formLogindDataReactive.valid || showLoading">
                Submit
                <span class="ml-2" *ngIf="showLoading">
                    <div class="spinner-border text-light" style="width: 25px; height: 25px;"></div>
                </span>
            </button>
        </div>
    </form>
</div>