<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="#">Task scheduler</a>
     
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><!-- active -->
          <!-- <a class="nav-link" href="#">Register new user</a> -->
        </li> 
      </ul>

      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
          Welcome {{authService.decodedToken?.unique_name | titlecase }}
        </a>
      
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/tasks']" routerLinkActive="router-link-active">
            <i class="fas fa-tasks"></i> Add task (del)</a>
          <div class="dropdown divider"></div>
          <a class="dropdown-item" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Logout</a> 
        </div>
      </div>
   
      <form *ngIf="!loggedIn()" #loginForm='ngForm' class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" name="username" 
            placeholder="Username" required [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="password" name="password" 
          placeholder="Password" required [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </form> 
  </div>  
</nav>