<div class="form-group">
    <button class="btn btn-success btn-lg btn-block" (click)="ngOnInit()"> Clean </button>
</div>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
<input type="hidden" name="Id" [value]="service.formData.Id">
  <!--Site Link-->
  <div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="fas fa-link" [class.green-icon]="Link.valid" [class.red-icon]="Link.invalid && Link.touched"></i>
            </div>
        </div>
        <input name="Link" #Link="ngModel" [(ngModel)]="service.formData.Link" class="form-control"
        placeholder="Link" required>
    </div>
  </div>
  <!--Tag-->
  <div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="fas fa-hashtag" [class.green-icon]="XPath.valid" [class.red-icon]="XPath.invalid && XPath.touched"></i>
            </div>
        </div>
        
        <input name= "XPath" #XPath="ngModel" [(ngModel)]="service.formData.XPath" class="form-control" placeholder="XPath" required>
    </div>
  </div>
  <!--Time Start-->
    <div class="form-group">
        <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white"> 
                        <i class="fas fa-stopwatch"  [class.green-icon]="TimeStart.valid" [class.red-icon]="TimeStart.invalid && TimeStart.touched" ></i>
                    </div>
                </div>
            <input type="datetime-local" name="TimeStart" #TimeStart ="ngModel" [(ngModel)]="service.formData.TimeStart" class="form-control" required />
        </div>
    </div>
  <!--Period-->
  <div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="fas fa-stopwatch" [class.green-icon]="Period.valid" [class.red-icon]="Period.invalid && Period.touched"></i>
            </div>
        </div>
       <input name="Period" #Period="ngModel" [(ngModel)]="service.formData.Period" class="form-control" pattern="(^([1-9]|[1-9]\d|[1-6]\d\d|7[01]\d)$)|(^([1-9]|[1-9]\d|[1-6]\d\d|7[01]\d)\.([0-5]\d)$)" placeholder="Period" required >
    </div>
  </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"> {{ service.buttonName }} </button>
    </div>
</form>
  
  