<h1 class="display-4 text-center">Inspect site</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <form novalidate [formGroup]="service.xpathReactiveForm" (submit)="onSubmitXpathForm()">
            <!--Site Link-->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-link" [class.red-icon]="validateProperty('TargetSite')"></i>
                        </div>
                    </div>
                    <input type="text" formControlName="TargetSite" class="form-control" placeholder="Link">
                </div>
            </div>
            <!--Tag-->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-hashtag" [class.red-icon]="validateProperty('XPath')"></i>
                        </div>
                    </div>
                    <input type="text" formControlName="XPath" class="form-control" placeholder="XPath">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block"
                    [disabled]="!service.xpathReactiveForm.valid">
                    Check
                </button>
            </div>
        </form>
        
    </div>
    <div class="col-md-8 mt-2">
        <div class="mt-3 text-center" *ngIf="showLoading">
            <div class="spinner-border text-info" style="width: 65px; height: 65px;"></div>
        </div>
        <div class="alert alert-danger" *ngIf="errors">
            {{ errors }}
        </div>
        <div *ngIf="isValid">
            <div class="alert alert-info">
                <p>
                    <strong>Site: </strong>
                    {{ XpathInfo.Site }}
                </p>
                <p>
                    <strong>XPath: </strong>
                    {{ XpathInfo.Xpath }}
                </p>

            </div>
            <div class="alert alert-success">
                {{ XpathInfo.Body }}
            </div>
        </div>
    </div>
</div>