<div>
    <h1 class="display-4 text-center">Task Manager</h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <app-info-detail></app-info-detail>
        </div>
        <div class="col-md-8">
            <app-info-detail-list></app-info-detail-list>
        </div>
    </div>
</div>