<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="Id" [value]="service.formData.Id"> 
    <!-- site -->
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white"> 
            <i class="fas fa-sitemap" [class.green-icon]="TargetSite.valid" [class.red-icon]="TargetSite.invalid && TargetSite.touched"></i>
          </div>
        </div>
        <input name="TargetSite" #TargetSite="ngModel" [(ngModel)]="service.formData.TargetSite" class="form-control"
          placeholder="Target Site" required minlength="3" maxlength="150">
      </div>
    </div> 
    <!-- XPath -->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">   
                    <i class="fas fa-bezier-curve" [class.green-icon]="XPath.valid" [class.red-icon]="XPath.invalid && XPath.touched"></i>
                </div>
            </div>
        <input name="XPath" #XPath="ngModel" [(ngModel)]="service.formData.XPath" class="form-control"
            placeholder="XPath" required minlength="1" maxlength="100">
        </div>
    </div> 
    <!-- TimeStart -->
    <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white"> 
                        <i class="fas fa-business-time" [class.green-icon]="TimeStart.valid" [class.red-icon]="TimeStart.invalid && TimeStart.touched"></i>
                    </div>
                </div>
        <input type="datetime-local" name="TimeStart" #TimeStart="ngModel" [(ngModel)]="service.formData.TimeStart" class="form-control" 
              required>
        </div>
    </div> 
    <!-- ExecuteFrequency -->
    <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white"> 
                        <i class="fas fa-stopwatch" [class.green-icon]="ExecuteFrequency.valid" [class.red-icon]="ExecuteFrequency.invalid && ExecuteFrequency.touched"></i>
                        <input name="isExecuteFrequency" #chkEnable ngModel class="ml-3" type="checkbox"/>
                    </div>
                </div> 
        <input name="ExecuteFrequency" [disabled]="!chkEnable.checked" #ExecuteFrequency="ngModel" [(ngModel)]="service.formData.ExecuteFrequency" class="form-control" 
            pattern="^(((([01]\d)|(2[0-3])):[0-5]\d:[0-5]\d)|(24:00:00))$"
            placeholder="Execute Frequency: hh:mm:ss" minlength="8" maxlength="8">
        </div>
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i> Submit</button>
    </div>
  </form>