<div class="form-group">
    <button class="btn btn-success btn-lg btn-block" (click)="resetReactiveForm()">Clean</button>
</div>

<form novalidate [formGroup]="service.formDataReactive" (submit)="onReactiveSubmit()">
    <!-- #form="ngForm" autocomplete="off" -->
    <input type="hidden" formControlName="Id">
    <!--Site Link-->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-link"
                        [class.red-icon]="!validateProperty('TargetSite') 
                            && touchedOrDirty('TargetSite')"
                        [class.green-icon]="validateProperty('TargetSite')"></i>
                </div>
            </div>
            <input type="text" formControlName="TargetSite" 
            (blur)="validateErrors()" class="form-control"
            placeholder="Link" required>
        </div>
        <div class="alert alert-danger mt-2" *ngIf="formsErrors.TargetSite">
            {{ formsErrors.TargetSite }}
        </div>
    </div>
    <!--Tag-->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-hashtag"
                        [class.red-icon]="!validateProperty('XPath') && touchedOrDirty('XPath')"
                        [class.green-icon]="validateProperty('XPath')"></i>
                </div>
            </div>
            <input type="text" formControlName="XPath" 
            (blur)="validateErrors()" class="form-control"
            placeholder="XPath" required>
        </div>
        <div class="alert alert-danger mt-2" *ngIf="formsErrors.XPath">
            {{ formsErrors.XPath }}
        </div>
    </div>
    <!--Time Start-->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-stopwatch"
                        [class.red-icon]="!validateProperty('TimeStart') 
                        && touchedOrDirty('TimeStart')"
                        [class.green-icon]="validateProperty('TimeStart')"></i>
                </div>
            </div>
            <input type="datetime-local" formControlName="TimeStart" 
            (blur)="validateErrors()"
            class="form-control" required />
        </div>
        <div class="alert alert-danger mt-2" *ngIf="formsErrors.TimeStart">
            {{ formsErrors.TimeStart }}
        </div>
    </div>
    <!--Period-->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-stopwatch"
                        [class.red-icon]="!validateProperty('ExecuteFrequency') 
                            && touchedOrDirty('ExecuteFrequency')"
                        [class.green-icon]="validateProperty('ExecuteFrequency')"></i>
                </div>
            </div>
            <input type="text" formControlName="ExecuteFrequency" 
            (blur)="validateErrors()" class="form-control"
            pattern="^(([01]\d)|(2[0-3])):[0-5]\d:[0-5]\d$" placeholder="hh:mm:ss" required>
        </div>
        <div class="alert alert-danger mt-2" *ngIf="formsErrors.ExecuteFrequency">
            {{ formsErrors.ExecuteFrequency }}
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!service.formDataReactive.valid">
            {{ service.buttonName }}
        </button>
    </div>
</form>