<div class="row">
    <div class="col-md-7">
        <mat-form-field>  
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">  
        </mat-form-field>
    </div>
</div>
<div class="mat-elevation-z8">  
    <table mat-table [dataSource]="dataSource" class="table table-hover">  
        <ng-container matColumnDef="Link">  
            <th mat-header-cell *matHeaderCellDef style = "padding:auto;">Link</th>  
            <td mat-cell *matCellDef="let infoDetail" (click)="populateForm(infoDetail)">
                <p class = "text-truncate"  style="max-width: 200px;"> {{infoDetail.TargetSite}} </p>
            </td>  
        </ng-container>  
    
        <ng-container matColumnDef="XPath">  
            <th mat-header-cell *matHeaderCellDef style = "padding-left:10px; padding-right: 10px;"> XPath </th>  
            <td mat-cell *matCellDef="let infoDetail" (click)="populateForm(infoDetail)">
                <p class = "text-truncate" style="max-width: 200px;" > {{infoDetail.XPath}} </p>
            </td>  
        </ng-container>  
    
        <ng-container matColumnDef="TimeStart">  
            <th mat-header-cell *matHeaderCellDef style = "padding:auto;"> TimeStart </th>  
            <td mat-cell *matCellDef="let infoDetail" (click)="populateForm(infoDetail)">
                <p class = "text-truncate"  style="max-width: 200px;"> {{infoDetail.TimeStart}} </p>
            </td>  
        </ng-container>  
    
        <ng-container matColumnDef="Period">  
            <th mat-header-cell *matHeaderCellDef style = "padding:auto;"> Period </th>  
            <td mat-cell *matCellDef="let infoDetail" (click)="populateForm(infoDetail)">
                <p class = "text-truncate"  style="max-width: 200px;">{{infoDetail.ExecuteFrequency}} </p>
            </td>  
        </ng-container>  

        <ng-container matColumnDef="Id">  
                <th mat-header-cell *matHeaderCellDef style = "padding:auto"> Action </th>  
                <td mat-cell *matCellDef="let infoDetail">
                    <img class= "btn-outline-danger" src="assets/img/icons8-trash-100.png" width="30px" height="30px" 
                    (click)="onDelete(infoDetail.Id)" />
                </td>  
        </ng-container>  

      <tr mat-header-row *matHeaderRowDef="displayedColumns" style = "padding-left:10px; padding-right:10px" ></tr>  
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
    </table>  
</div>
<div>
    <mat-paginator [pageSizeOptions]="[25, 10, 50, 100]"></mat-paginator>  
</div>    